<div class="container" *ngIf="movie">
    <p><a href="https://www.imdb.com/title/{{movie.IMDB}}">{{movie.name}}</a></p>
</div>
<div class="container" *ngIf="!movie">
        <p>Whoops! This Movie does not exist!</p>
</div>
