<div class="container" *ngIf="messageService.messages.length">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Messages <button class="clear btn btn-link"
                        (click)="messageService.clear()">clear</button></h4>
                        <div *ngFor='let message of messageService.messages'> {{message}} </div>            
                </div>
            </div>
        </div>
    </div>
</div>