<div class="container">
    <div class="row">
        <div class="col-sm">
            <input class="form-control form-control-lg" type="text" placeholder="Add a new movie or series">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Currently watching</h4>
                    <p class="card-text"><app-entry-mini></app-entry-mini></p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Next up</h4>
                    <p class="card-text"><app-entry-mini [offset]=1></app-entry-mini></p>
                </div>
            </div>
        </div>
    </div>
</div>