<div class="container">
    <div class="form-group">
        <label for="selectQueue">Select Queue</label>
        <select class="form-control" id="selectQueue">
            <option *ngFor="let q of queues" (click)="getQueue(q.id)">{{q.name}}</option>
        </select>
    </div>
    <table class="table table-hover">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Length</th>
            <th scope="col">Options</th>
        </thead>
        <tbody>
            <tr *ngFor="let q of queue">
                <th scope="row">{{q.position}}</th>
                <td>{{q.name}}</td>
                <td>{{q.length}}</td>
                <td class="row">
                    <a class="col-sm-1" href="javascript:void(0)" (click)="moveEntryUp(queueID, q.position)"><fa-icon [icon]="faArrowUp" *ngIf='q.position > 1'></fa-icon></a>
                    <a class="col-sm-1" href="javascript:void(0)" (click)="moveEntryDown(queueID, q.position)"><fa-icon [icon]="faArrowDown" *ngIf='q.position < queue.length'></fa-icon></a>
                    <a class="col-sm-1" href="javascript:void(0)" (click)="deleteEntry(queueID, q)"><fa-icon [icon]="faTrash"></fa-icon></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>